@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    height: 100vh;
    background: url(img/home_bg.jpeg) center center/cover no-repeat;
    position: relative;
}


/* Utility Classes */

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

.primary-text {
    color: #e4b95b;
}

/* Utility Classes */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar img {
    width: 100px;
    margin-left: 100px;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 100px; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-weight: 600;
}

nav ul li a:hover {
    border-bottom: 2px solid #e4b95b;
}

header .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-direction: column;
}

header .content h1 {
    color: white;
    font-size: 40px;
}

header .content p {
    color: white;
    margin: 20px 0px 40px 0px; 
}

.primary-text {
    display: inline-block;
    color: #e4b95b;
}

.btn-primary {
    border: 1px solid white;
    text-decoration: none; 
    color: white;
}

.btn-primary:hover {
    background-color: #e4b95b;
}

header::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
}
 
header * {
    z-index: 10;
}


/* <!-- About Start --> */


#about {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    margin: auto;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding-top: 70px;
}

#about .title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 15px;
}

#about .title h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #383848;
}

#about .title p {
    font-weight: 600;
    font-size: 14px;
    color: #9a9a9a;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content p {
    margin-right: 4rem;
    line-height: 1.6;
    color: #9a9a9a;
    font-weight: 500;
}

.btn-secondary {
    background-color: #383848;
    color: white;
    text-decoration: none; 
    margin-top: 2rem;
}


.btn-secondary:hover {
    background-color: #e4b95b;
}

.about-content img {
    width: 450px;
}


/* <!-- About End --> */


/* offer start */

#offers {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: url(img/offer-background.jpg) center center/cover fixed;
}

#offers .container {
    max-width: 1100px;
}

.offers-content {
    display: flex;
    text-align: center;
}

#offers .container .title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5px;
}

.offers-content img {
    width: 200px;
}

#offers .container .title h2 {
    font-size: 40px;
    color: #e4b95b;
    margin-bottom: 20px;
}

#offers .container .title p {
    color: white;
    font-weight: 500;
}

#offers .offers-content .content h3 {
    color: white;
    margin: 15px 0 15px 0;
    font-size: 25px;
}

#offers .offers-content .content p {
    color: white;
    margin-bottom: 15px;
}

#offers .offers-content .content p del {
    margin-right: 5px;
    font-size: 14px;
}

#offers .offers-content .content p span {
    color: #e4b95b;
    font-size: 18px;
    font-weight: 600;
}

/* offer End  */

/* <!-- Menu Start --> */

#menu .container .info-container{
    display: flex; 
    justify-content: center;
    justify-content: space-between;

}

.info-container img {
    width: 80px; 
    border-radius: 50%;
    padding-right: 3px;
}

#menu{
    background-color: #f4f2ed;
    height: 100% ;
}

#menu .container .title {
    text-align: center;
    padding: 70px 0 30px 0;
}

#menu .container .title h2 {
    font-size: 40px;
    color: #383848;
    margin-bottom: 20px;
}

#menu .container .title p {
    font-weight: 500;
    color: #9a9a9a;
    margin-bottom: 20px;
}

.info-container .menu-iteam {
    display: flex;
    margin: 40px;
}

.info-container .menu-iteam div {
    margin-left: 15px;
}

.info-container .menu-iteam div h3 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #c2bdbd;
    position: relative;
    padding-bottom: 10px;
}

.info-container .menu-iteam div h3 span {
    color: #e4b95b;
    font-size: 18px;
    font-weight: 600;
}

.info-container .menu-iteam div p {
    padding-top: 10px;
}

#menu button {
    display: flex;
    margin: auto;
    border: none;
    
}

#menu a {
    background-color: #e4b95b;
    padding: 15px 30px;
    margin-bottom: 50px;
}

#menu a:hover {
    background-color: #383848;
}

/* <!-- Menu End  --> */

/* Daytime Section Start */

#daytime {
    color: rgb(255, 255, 255);
    text-align: center;
    background: url(img/daytime_bg.jpeg) center center / cover no-repeat fixed;
}

#daytime .container {
    display: flex;
    max-width: 1100px;
    justify-content: center;
}

#daytime .container div {
    padding: 40px;
    color: white;
}

#daytime .container div img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#daytime .container div h3 {
    font-size: 32px;
    margin: 20px 0px 10px;
}

#daytime .container div p {
    font-weight: 500;
}

#daytime .container div {
    margin: 13px;
}

/* Daytime Section End  */

/* Gallery Section Start */

#gallery {
    background: url(img/offer-background.jpg) center center/cover fixed;
}

#gallery .container {
    padding-bottom: 100px;
}

#gallery .container .gallery-content img {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.6;
}

#gallery .container .gallery-content img:hover {
    opacity: 0.9;
}

#gallery .container .gallery-content {
    text-align: center;
}

#gallery .container .title h2 {
    text-align: center;
    color: white;
    margin-bottom: 35px;
    padding-top: 60px;
    font-size: 40px;
}

/* Gallery Section End */

/* Contact Section start */

#contact {
    background-color: #f4f2ed;
    padding: 5rem 0;
}

#contact .container .contant-info h3 {
    font-size: 29px;
    color: #383848;
    margin-bottom: 10px; 
}

#contact .container .contant-info .address a i {
    
    color: #e4b95b;
    margin-right: 10px;
}

#contact .container .contant-info .address p {
    color: #9a9a9a;
}

.fa-solid {
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact .container .contant-info .working-hours p {
    margin-bottom: 10px;
    color: #9a9a9a;
}

#contact .container .contant-info .social-icons a {
    background-color: #383848;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    padding-top: 10px;
}

#contact .container .contant-info .social-icons h3{
    padding-bottom: 12px;
}


#contact .container .contant-info .social-icons a:hover {
    background-color: #e4b95b;
}

#contact .container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
}

form {
    width: 50%;
}

form input , textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
}

form button a {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #e4b95b;
    color: white;
    text-decoration: none;
    
}

form button {
    border: none;
}

form button a:hover {
    background-color: #383848;
}

#contact .address , .working-hours , .social-icons  {
    margin: 30px 0;
    line-height: 1.7;
}


/* Contact Section end */

footer{
    background-color: #383848;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 15px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
}

/* Resposive start */

/* tablet */
@media (max-width:1000px) {
    #navbar img {
        margin-left: 20px;
    }
    nav ul {
        margin-right: 20px;
    }
    header .content h1 {
        font-size: 26px;
    }
    #about {
        padding: 0 50px;
    }
    .about-content img {
        width: 250px;
    } 
    #about .title h2 {
        font-size: 37px;
    }
    .offers-content img {
        width: 150px;
    }
    #offers .offers-content .content h3 {
        font-size: 19px;
    }
    #menu .container .info-container {
        display: block;
    }  
    #daytime .container div {
        padding: 10px;
    }
    #contact .container {
        flex-direction: column;
       
    }
}
@media (min-width:1001px ) and (max-width:1024px) {
    #about {
        padding: 0 30px;
    }
    .offers-content img {
        width: 180px;
    }
    #offers .offers-content .content h3 {
        font-size: 23px;
    }
    #menu .container .info-container {
        padding-top: 10px;
    }
    #about {
        height: auto;
        padding-bottom: 100px;
    }
    #offers {
        height: auto;
        padding-bottom: 100px;
    }
    #gallery {
        
    }
}

/* Mopile phone */
@media (max-width:600px) {
    #navbar {
        flex-direction: column;
    }
    header .content h1 {
        font-size: 20px;
    }
    nav ul li a {
        padding-left: 10px;
        padding-right: 9px;
        margin: auto;
    }
    nav {
        margin-left: 12px;
    }
    nav ul li {
        margin-left: 6px;
    }
    header .content p {
        font-size: 14px;
    }
    #navbar img {
        margin-bottom: 15px;
    }
    #about {
        height: auto;
    }
    .about-content {
        flex-direction: column;
    }
    #about .container {
        padding-top: 40px;
    }
    .about-content img {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 370px;
    }
    #menu .container  {
        padding-top: 1px;
    }
    #offers {
        height: auto;
    }
    #offers .container {
        padding-top: 40px;
    }
    .offers-content {
        flex-direction: column;
    }
    .offers-content img {
        width: 130px;
    }
    #offers .offers-content .content h3 {
        font-size: 20px;
    }
    #daytime .container {
        flex-direction: column;
    }
}

/* 360px responsive */
@media (max-width:360px) {
    nav ul li a {
        padding: 0 7px;
    }
    #navbar img {
        width: 80px;
    }
    header .content h1 {
        font-size: 18px;
    }
    header .content p {
        font-size: 12px;
    }
    .about-content{
        margin-left: 0px;
    }
    .about-content img {
        width: 250px;
    }
    #offers .container .title h2 {
        font-size: 30px;
    }
    #offers .container .title p {
        font-size: 14.5px;
    }
    .offers-content img {
        width: 100px;
    }
    #offers .offers-content .content h3 {
        font-size: 18px;
    }
    #offers .offers-content .content p {
        font-size: 13px;
    }
    .info-container img {
        width: 60px;
    }
    #menu .container .title h2 {
        font-size: 26px;
    }
    #menu .container .title p  {
        font-size: 14px;
    }
    #gallery .container .title h2 {
        font-size: 26px;
    }
    #gallery .container {
        padding-top: 0px;
    }
}

/* Responsive end */